/* FONTS
font-family: 'Delius', cursive;
font-family: 'Raleway', sans-serif; 
*/

*{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.raleway_font{
    font-family: 'Raleway', sans-serif;
 }

 body{
    margin-left: 0;
 }

 h1 {
    font-family: 'Raleway', sans-serif;
    color: #00743e;
    font-weight: 800;
 }

 h3 {
    font-family: 'Raleway', sans-serif;
 }

 p{
    font-family: 'Raleway', sans-serif;
 }

 fieldset{
     margin-bottom: 20px;
 }

.bottom{
    margin-bottom: 10%;
}
.input{
    border-radius: 10px;
    border-color:  rgb(237, 237, 237);
    padding: 8px;
    margin: 8px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(247, 246, 246);
    width: 90%;
    color:rgb(77, 76, 76);
}

.button {
    background-color: #00743e;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 16px;
    width: 90%;
    }

.button:hover {
    background-color:#72bc44;
}

#language{
    width: 30%;
}

#affiliation{
    width: 60%;
}

/* Nav bar */
#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f9f8e1;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .title{
      display: none;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 80%;
  }

  li a:hover {
    background-color: #f7c86d;
  }

  .active {
    background-color: #00743e;
  }
  .active a {
      color: white;
  }

  .nav-image{
    display: none;
  }



@media screen and (min-width: 600px) {
    .input{
        width: 200px;
    }
    .button{
        width: 100px;
    }
    #language{
        width: 100px;
    }
    #affiliation{
        width: 200px;
    }
    fieldset{
        margin-top: 30px;
    }
    .top{
        margin-top: 5%;
    }
    .bottom{
        margin-bottom:1px;
    }

    .nav-image{
        display: inline;
        float:right;
        z-index: 10;
        margin-right: 5px;
    }
    .title{
        display: inline-flex;
    }



    /* Nav bar */
    ul {
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
      }
    li a{
        font-size: initial;
        height: 100%;
    }

    .logo-name{
        display: flex;
        float: right;
        margin-right: 5%;
        font-size: smaller;
    }

}

