*{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

body{
  background-color: #d4d4d4;
  font-family: 'Raleway', sans-serif;
}

  header {
    background-color: #8b8073;
    width: 80%;
    padding: 40px;
    text-align: center;
    color: #d4d4d4;
    margin-top: 60px;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
      font-family: 'Raleway', sans-serif;
      color: white;
      font-weight: 800;
  }

  p {
    font-family: 'Raleway', sans-serif;
  }

 
  .nav li {
    display:inline;
  }

 table, th, td {
    border:0.5px solid rgb(154, 152, 152);
    padding: 5px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway', sans-serif; 
  }
  th{
      text-align: center;
  }
  table {
      border-collapse: collapse;
      width: 90%;
  }

  tr:hover {background-color: #f9f8e1;}

  td[data-href] {
      cursor: pointer;
  }

  .header {
    background-color: #7d9175;
    z-index: -1;
    color: #d4d4d4;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7d9175;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .title{
      display: none;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 80%;
  }

  li a:hover {
    background-color: #8b8073;
  }

  .active {
    background-color: #8b8073;
  }
  .active a {
      color: white;
  }
  @media screen and (min-width: 600px) {

  ul {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
  }
li a{
    font-size: initial;
}

.title{
    display: flex;
    float: right;
    margin-right: 10%;
    font-size: smaller;
}
}