/* FONTS
font-family: 'Delius', cursive;
font-family: 'Raleway', sans-serif; 
*/

/* This is to changhe the padding or 'space' between top of screen and the title Availability*/
*{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
body{
    margin-top: 70px;
    font-family: 'Raleway Medium', sans-serif;
}

/* This is the fonts from Root Cause (RC)'s style sheet used on the words for this web page*/
.raleway_font{
    font-family: 'Raleway', sans-serif;
 }

 h1 {
    font-family: 'Raleway', sans-serif;
    color: #00743e;
 }

 h3 {
    font-family: 'Raleway', sans-serif;
 }

 p{
    font-family: 'Raleway', sans-serif;
 }

 .button{
    background-color: #00743e;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Testing pop-up */
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  /* Nav bar */
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f9f8e1;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .title{
      display: none;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 80%;
  }

  li a:hover {
    background-color: #f7c86d;
  }

  .active {
    background-color: #00743e;
  }
  .active a {
      color: white;
  }
 

 

@media screen and (min-width: 600px) {
     /* Nav bar */
  ul {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
  }
li a{
    font-size: initial;
}

.title{
    display: flex;
    float: right;
    margin-right: 10%;
    font-size: smaller;
}
}