.submitCall:hover {
    color: #f9f8e1;
    background-color: #72bc44; 
    
}

.submitCall {
    border-radius: "12px"

}

#delete-note-btn{
    background-color: #4d514f;
    margin-left: 15px;
    height: 3px;
    width: 1px !important;
    font-size: 10px;
}
#delete-note-btn:hover{
    background-color: red;
}

#note_submit{
    background-color: white;
    color: #00743e;
    border: 2px solid #00743e;
  }
  
  #note_submit:hover{
    color: white;
    background-color: #00743e;
  }
  
  #note_delete{
    size: small;
    background-color: white;
    color: #fc2848;
    border: 2px solid #fc2848;
  }
  
  #note_delete:hover{
    color: white;
    background-color: #fc2848;
  }