#btn-group button {
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  /* Clear floats (clearfix hack) */
    #btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
#btn-group button:hover {
    background-color: #3e8e41;
  }

#volunteer-btn:hover{
  color: white;
  background-color: #f7c86d !important;
}

#admin-btn:hover{
  background-color: #fab289 !important;
}





/* Volunteer(
  first_name='Hello',
  last_name='Entry',
  phone='1234567890',
  affiliation='graduate',
  language='Spanish',
  first_time=True,
  hipaa=True,
  credit=True,
  email='hello@gmail.com',
  password='HelloWorld'
) */