.sms{
    display: flex;
    height: 400vh;
    margin: 0 auto;
    justify-content: center;
}

.box{
    width: 45%;
    margin: 1rem;
}

.box2{
    width: 45%;
    margin: 1rem;
}

.box h3{ 
   text-align: center;
   margin-bottom: 1rem;
}

.box2 h3{
   text-align: center;
   margin-bottom: 1rem;
}

.sending{
    /* margin-left: 150px; */
    display: flex;
    width: 100%;
    float: left;
    border: 3px solid black;
    border-radius: 5px;
    border: 3px solid #cfbb99;
    border-radius: 30px;
    background-color: #e0cba4;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
}

.basic-select{
    display: flex;
    margin: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    max-height: 20vh;
    align-items: center;
    justify-content: center;
    /* width: 150px; */
}

.filter{
    margin: 1rem;
    width: 175px;
}

.submitButton{
    max-width: 90px;
    margin: 0 auto;
}

.messaging{
    margin: 1rem;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.selected_pts{
    margin: 1rem;
    max-height: 50px;
    position: relative;
}


.confirmMessage {
    /* margin-top: 0.5rem;
    margin-left: 20px; */
    margin: 0 auto;
    width: 50%;
}

.sending button{
    background-color: #00743e;
}

.sending button:hover{
    background-color: #009a4b;
}

.receiving{
    width: 100%;
    float: left;
    border: 3px solid black;
    border-radius: 5px;
    border: 3px solid #cfbb99;
    border-radius: 30px;
    background-color: #e0cba4;
    max-height: 150vh;
    /* overflow: hidden;
    overflow-y: auto; */
}

.receiving h4{
    text-align: center;
    margin: 0.5rem;
}

.caught{
    max-height: 70vh;
    width: 90%;
    /* display: inline-block; */
    margin: 1rem;
    margin-left: 2rem;
    position: relative;
    border: 2px solid #cfbb99;
    border-radius: 30px;
    box-shadow: 0 0 15px 0 #877c6c;
    overflow: hidden;
    overflow-y: auto;
}

.uncaught{
    max-height: 70vh;
    width: 90%;
    /* display: inline-block; */
    margin: 1rem;
    margin-left: 2rem;
    position: relative;
    border: 2px solid #cfbb99;
    border-radius: 30px;
    box-shadow: 0 0 15px 0 #877c6c;
    overflow: hidden;
    overflow-y: auto;
}

#nested-list-subheader2{
    background-color: #00743e;
    color: white;
    font-size: 15px;
    position: relative;
  }

.sublist{
    background-color: #ebe9d3;
}

#text_status{
    margin-right: 0.5rem;
    width: 20px;
}