.sending{
    margin-left: 150px;
    margin-top: 10vh;
}

.submitButton{
    margin-top: 1rem;
    margin-left: 65px;
    margin-bottom: 2.5rem;
}

.messageBox{
    margin-left: -6px;
    margin-top: 1rem;
}

.confirmMessage{
    margin-top: 0.5rem;
    margin-left: 20px;
}

.filter{
    margin-left: 1px;
    margin-right: -25px;
}